[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.2"
pytest-cov = "==2.8.1"
pytest-ordering = "==0.6"
coveralls = "==2.0.0"
requests = "*"
bumpversion = "*"
flake8 = "*"
autopep8 = "*"
wheel = "*"
twine = "*"

[packages]
jsonschema = "==3.2.0"
jsonpickle = "==2.0.0"
enum34 = "==1.1.10"
websocket_client = "==0.57.0"

[requires]
python_version = "3.6"