[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.4.2"
pytest-cov = "==4.1.0"
pytest-ordering = "==0.6"
coveralls = "==3.3.1"
requests = "*"
bumpversion = "*"
flake8 = "*"
autopep8 = "*"
wheel = "*"
twine = "*"

[packages]
jsonschema = ">=4.19.1"
enum34 = "==1.1.10"
websocket_client = ">=1.6.4"

[requires]
python_version = "3.8"